@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),  url(Imagens/pawel-nolbert-62OK9xwVA0c-unsplash.jpg);
    animation: move 5s;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}@keyframes move{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}


header{
    margin: 60px 30px;
}
nav{
    text-align: right;
  
}nav li{
    display: inline;

}nav a {
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 3px;
}nav a:hover{
    background-color: #1C3B54;
    transition: 1.3s;
    color: #1878CC;
}section{
    height: 400px;
    padding: 156px;
    text-align: center;
}div{
    margin:80px;

}div > ul > li{
    color: red;
    list-style: none;
    display: inline;
    margin: 30px;

}div >ul >  li> a {
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 3px;
}div >ul >  li> a:hover{
    background-color: #1C3B54;
    transition: 1.3s;
    color: #1878CC;
